@charset "utf-8";

@media screen and (max-width:1500px){
    .about-bottom2{display: none}
    .circle2{position: absolute; left:25%}
    .about-img{left: 0}
}

@media screen and (max-width:1300px){
    .profile_img{ right:10%}
    .profile_bg{display: none}
     .about-img{display: none}
}

@media screen and (max-width:1023px) {
    #header,
	#header .container{height: 84px;}
    .text-wrap{float: left; padding: 50px 10%}
    .description1 p{line-height: 160%; width: 700px}
    .about-bottom{height: 100%}
}


    
@media screen and (max-width:900px) {

    .dumy-img{display: none}
    .intro-title h2{font-size: 80px;}
    .header-wrap{padding-top: 5px;}
    .toggle span{width: 21px}
    .logo img{width: 70%}
    .profile_img{ display: none}
    

}

@media screen and (max-width:750px){
    .section-title h2{font-size: 80px;}
    .about-txt{margin-right: 50px;}
    .cl_bg{margin-left: 38px;  width: 190px; height:190px; }
    .description1 p{line-height: 160%; width: 500px}
}
	

@media screen and (max-width:550px){
    .section-title h2{font-size: 40px;}
    .cl_bg{ width: 170px; height: 170px; margin-left: 90px;}
    .description1 p{line-height: 190%; width: 450px; box-sizing: border-box;  text-align: center;}
    .about-top{height: 400px}
    .description2{display: none}
    .moblie-timeline{display: block}
    .moblie-timeline h4{margin-top: 100px;}
    .circle2{ left:33%;}
}




@media screen and (max-width:500px) {
	 .intro-title h2{font-size: 50px;}
     .description1 p{line-height: 190%; width: 350px; }
        .about-top{height: 320px}
    .cl_bg{ width: 160px; height: 160px;margin-left: 90px; }
     .moblie-timeline h4{margin-top: 50px;}
    .about-bottom{border:none;}
    .circle2{ left:32%;}

    
}


@media screen and (max-width:460px) {
	 .intro-title h2{font-size: 40px;}
     .intro-img .img-box{height: 300px;}

    
}


@media screen and (max-width:400px) {
	 .intro-title h2{font-size: 30px;}
     .intro-img .img-box{height: 250px;}
    .description1 p{line-height: 190%; width: 280px; }
    .about-top{height: 280px}
    .cl_bg{ width: 140px; height: 140px; }
    .moblie-timeline h4{margin-top: 20px;}
    .section-title h2{left:70%}

    
}



@media screen and (max-width:320px) {
	 .intro-title h2{font-size: 40px;}
}